:root {
    /* ---- Colors ---- */
    --text: #f8f9fa;
    --text-transp: #f8f9fa71;
    --bg: #212845;
    --bg-section: #7880B5;
    --tonal-pink: #FF87AB;
    --tonal-yellow: #FFFD98;
    --tonal-yellow-dark: #FFD700;

    --error: #FF5C7A;
    --warning: #F97316;
    --valid: #5CFF7A;

    /* ---- Fonts ---- */
    --font-title: 'Audiowide', sans-serif;
    --font-subtitle: 'Exo 2', sans-serif;
    --font-paragraph: 'IBM Plex Serif', serif;
    --font-button: 'Space Grotesk', sans-serif;
    --font-accent: 'Genos', sans-serif;
}


h1 {
    font-family: var(--font-title);
}

:where(h2, h3, h4, h5, h6) {
    font-family: var(--font-subtitle);
}

body {
    font-family: var(--font-paragraph);
    font-weight: 300;
}

button {
    font-family: var(--font-button);
}

:where(a, Link) {
    font-family: var(--font-accent);
}

.page {
    min-height: 100vh;
    padding-left: clamp(5%, 5vw, 15%);
    padding-right: clamp(5%, 5vw, 15%);
    color: var(--text);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

.small-title {
    font-size: clamp(3.6rem, 4rem + 1.2vw, 6.4rem);

    @media screen and (min-width:960px) {
        font-size: clamp(1.6rem, 1.8rem + 0.4vw, 2.6rem);
    }
}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 100%;
}

textarea {
    resize: none;
    overflow: hidden;
}

button {
    width: clamp(22ch, 60%, 32ch);
    margin: 2rem auto;
    color: var(--text);
    font-weight: 600;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3.2rem;
    cursor: pointer;
    transition: .3s all ease-in-out;


    &:hover {
        background-color: var(--tonal-pink);
        transform: translateY(-.3rem);
    }
}